kw*.rev
kw*.txt
kw*.dic
easy_chars.txt
test_script.txt
bin/
Debug/
Release/
ipch/
obj/
Work/
junk/
.vs/
*__.cs
*.back*
*.VC.db
*.VC.opendb
*.ncb
*.opt
*.plg
*.lib
*.exe
*.dll
*.obj
*.log
*.save
*.lock
*.xlsx
