easy_chars.txt
test_script.txt
bin/
Debug/
DyMazin/
Release/
ipch/
obj/
tmp/
Work/
junk/
*.junk/
.vs/
_tables/
*__.cs
*.back*
*.VC.db
*.VC.opendb
*.ncb
*.opt
*.plg
*.lib
*.exe
*.dll
*.obj
*.log
*.save
*.lock
*.xlsx
*.swp
